<h1>Orders#new</h1>

<%= form_with model: @order, local: true do |form| %>
  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, step: 0.01 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back to Orders', orders_path %>
<p>Find me in app/views/orders/new.html.erb</p>
