<div class="title-container mt-4">
  <i class="fa-solid fa-desktop"></i>
  <h1 class="text-center title-shadow">REGISTER PRODUCT</h1>
</div>
<div class="line mb-4"></div>

<%= simple_form_for @product, html: { multipart: true, class: "product-form" } do |form| %>
  <%= form.error_notification %> <%# Mostrar erros de validação %>

  <div class="product-form-container">
    <div class="form-column">
      <%= form.input :name, label: "Product Name:" %>
      <%= form.input :model, label: "Model:" %>
      <%= form.input :manufacturer, label: "Manufacturer:" %>
      <%= form.input :category, collection: Product::CATEGORIES, label: "Category:", prompt: "Select a category" %>
    </div>

    <div class="form-column">
      <%= form.input :price, label: "Price:" %>
      <%= form.input :overview, label: "Overview:", as: :text, input_html: { rows: 6 } %>
      <%= form.input :photos, label: "Upload Images:", as: :file, input_html: { multiple: true, class: "custom-file-input" } %>

      <div class="form-footer text-center">
        <%= form.submit "Submit", class: "btn btn-submit" %>
      </div>
    </div>
  </div>
<% end %>
