<%= simple_form_for @product, html: { multipart: true, class: "product-form" } do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.input :name, label: "Product Name:", input_html: { class: "custom-input" } %>
      <%= form.input :model, label: "Model:", input_html: { class: "custom-input" } %>
      <%= form.input :terrain, label: "Terrain:", input_html: { class: "custom-input" } %>
      <%= form.input :passengers, label: "Passengers:", input_html: { class: "custom-input" } %>
      <%= form.input :crew, label: "Crew:", input_html: { class: "custom-input" } %>
      <%= form.input :length, label: "Length:", input_html: { class: "custom-input" } %>
      <%= form.input :fuel_capacity, label: "Fuel Capacity:", input_html: { class: "custom-input" } %>
      <%= form.input :cargo_capacity, label: "Cargo Capacity:", input_html: { class: "custom-input" } %>
    </div>
    <div class="col-md-6">
      <%= form.input :price, label: "Price:", input_html: { class: "custom-input" } %>
      <%= form.input :manufacturer, label: "Manufacturer:", input_html: { class: "custom-input" } %>
      <%= form.input :overview, label: "Overview:", as: :text, input_html: { rows: 5, class: "custom-textarea" } %>
      <%= form.input :photos, label: "Upload Images:", as: :file, input_html: { multiple: true, class: "custom-file-input" } %>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= form.submit "Submit", class: "btn btn-submit" %>
  </div>
<% end %>
