<div class="row justify-content-center">
  <div class="col-sm-6 my-5">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Type a keyword (name or category)"
          %>
      <%= submit_tag "Search", name: "", class: "search-product" %>
    <% end %>
  </div>
</div>
<h1 class="justify text-center">PRODUCTS</h1>
<div class="row justify-content-center">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card product-card bg-dark text-light h-100">
        <% if product.photos.attached? %>
          <div class="card-img-top text-center">
            <%= cl_image_tag product.photos.first.key, class: "product-image" %>
          </div>
        <% end %>
        <div class="card-body text-center d-flex flex-column">
          <h5 class="product-title"><%= product.name %></h5>

          <p class="product-seller mb-2">
            <small>Sold by: <%= link_to product.user.username, "#", class: "seller-link" %></small>
          </p>

          <div class="line my-2"></div>
          <p class="product-description"><%= product.overview.truncate(100) %></p>

          <div class="mt-auto">
            <p class="product-price"><%= number_to_currency(product.price, unit: "BTC ") %></p>
            <div class="d-flex justify-content-center mt-3">

              <%= button_to "Add to Cart", add_to_cart_path(product), method: :post, class: "btn btn-buy me-2" %>

              <%= link_to "Details", product_path(product), class: "btn btn-details" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
