<h1 class="text-center text-neon"><%= @product.name %></h1>
<div class="line mb-4"></div>

<div class="row">
  <div class="col-md-6">
    <div id="product-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, class: "product-image-carousel" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="col-md-6">
    <h2>OVERVIEW:</h2>
    <p class="product-overview"><%= @product.overview %></p>

    <h2>TECHNICAL SPECS:</h2>
    <ul class="product-specs">
      <li><strong>Name:</strong> <%= @product.name %></li>
      <li><strong>Model:</strong> <%= @product.model %></li>
      <li><strong>Terrain:</strong> <%= @product.terrain %></li>
      <li><strong>Passengers:</strong> <%= @product.passengers %></li>
      <li><strong>Crew:</strong> <%= @product.crew %></li>
      <li><strong>Length:</strong> <%= @product.length %></li>
      <li><strong>Fuel Capacity:</strong> <%= @product.fuel_capacity %></li>
      <li><strong>Cargo Capacity:</strong> <%= @product.cargo_capacity %></li>
      <li><strong>Manufacturer:</strong> <%= @product.manufacturer %></li>
    </ul>

    <h2 class="text-neon">Price: <%= number_to_currency(@product.price, unit: "BTC ") %></h2>
    <%= link_to "Buy Now", add_to_cart_path(@product), method: :post, class: "btn btn-buy mt-3" %>

     <% if current_user == @product.user %>
      <div class="mt-3 d-flex justify-content-start gap-2">
        <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-edit' %>
        <%= button_to 'Delete Product', product_path(@product), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back to Products', products_path, class: 'btn btn-secondary mt-4' %>
